.container{
	background-image: url("https://images.assetsdelivery.com/compings_v2/presidentkuma/presidentkuma1710/presidentkuma171000079.jpg");
	opacity: 0.7;
    background-size: 100% 100%;
    position: relative;
}
#blink{
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: #1c87c9;
    transition:0.4s;
    text-align: center;
    position: relative;
}
img{
	position: absolute;
	padding-top: 10px;
	width: 200px;
	height: 250px;
}
.left{
	padding-left: 60%;
	opacity: 0.9;
}
