body{
    background-size: 100% 100%;
    position: relative;
    background-color: black;
}
#blink{
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: #1c87c9;
    transition:0.4s;
    text-align: center;
    position: relative;
}
img{
	position: absolute;
	padding-top: 10%;
	width: 200px;
	height: 250px;
}
.left{
	padding-left: 70%;
	opacity: 0.9;
}
#box{
background-color:red;
}